*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100%;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%; /* centralizar tudo */
}

.instagram-phone img{
    height: 30rem;
}

.instagram-continue{
    display: flex;
    align-items: center; /* horizontal*/
    justify-content: space-around; /* vertical*/
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    width: 80%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
    margin: 15px; /* separação das caixas */
}

.profile-photo img{
    height: 6rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.instagram-logo img{
    height: 5rem;
}

.instagram-login{
    background-color:#0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin-top: 15px;
}

.instagram-logout{
    color:#0095f6;
    margin-top: 1rem;
}

.not-account{
    color: gray;
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('./botaoapple.jpg');
    height: 2.7rem;
    width: 8rem;
    margin-bottom: 1px;
}

.app-download:nth-child(2){
    background-image: url('./botaogoogle.png');
    height: 3.7rem;
    width: 9rem;
    margin-bottom: 1px;
}

/* media queries */

@media (max-width: 1024px) {
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px) {
    .body{
        background-color: #ffffff;
    }

    .group{
        border: 1px solid transparent;
    }

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }
}

